<% include partials/header %>
        <div class="container">
                <header class="jumbotron">
                    <div class="container">
                            <center>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h1 style="color: white">About this Website</h1>
                                        <br>
                                        <hr style="color: white; height:2px;">
                                        <p>This website contains the information about the various tourist attraction 
                                            placess in India. This will be helpful for the people in finding the best visiting places in India as the people will be
                                            adding the new places where they have gone or planing to go. Through this page one can help other people by adding the place where he/ she has already visited.  
                                        </p>
                                        <br>
                                        <b><i>Acknowledgement</i></b>
                                        <p>
                                            The content and images present in this page are taken from the Wikipedia, Unsplash, Flicker, photosforclass, Google and My Friends.<br>
                                            <p><i>Thank You All</i></p>
                                        </p>
                                        <br>
                                        <b><i>Terms & conditions</i></b>
                                        <p>This page belongs to <a href="#"><em style="font-size: 1.3em">Cantaloupe Studio</em></a> and made by <a style="color: white">Praveen Kumar Rana .</a>It has been made only for the information purpose. Any illegal use of this page 
                                            in any form is not allowed.</p>
                                    </div>
                                </div>
                            </center>
                    </div>
                </header>
        </div> 
<% include partials/footer %>